body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}



#welcome {
    background-image: url("/images/rave.jpg");
    background-size: cover; /* or contain, depending on your preference */
    background-position: center center;
    background-repeat: no-repeat;
    height: 900px; /* Set a height for the row, adjust as needed */
    /* Add other styles as needed */
}

.welcomeText {
    color: white;
    padding-left: 10%;
}

#login, #register{
    background-image: url("/images/rave.jpg");
    background-size: cover; /* or contain, depending on your preference */
    background-position: center center;
    background-repeat: no-repeat;
    height: 900px; /* Set a height for the row, adjust as needed */
    /* Add other styles as needed */
}

.custom-card .card-img-top {
    height: 350px; /* Set to height of largest image*/
    object-fit: cover; /* Ensures the image covers the entire space, maintaining its aspect ratio */
  }

  .card-img {
    height: 250px; /* Set to height of largest image*/
    object-fit: cover; /* Ensures the image covers the entire space, maintaining its aspect ratio */
  }


